
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


h3
{
	margin-top: 40px;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: royalblue;
}

header{
    position: fixed;
    width: 100%;
        padding: 20px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
	background-color: white;
	
}

 .lip{
	 display: flex;
	flex-direction: column;
	width: 200px;
	height: 300px;
	flex-wrap: wrap;
	height: 200px;
	width:300px; 
	/* border: 100px; */
	/* border-color: black;
	border-radius: 100px; */
	background-color: aqua;
	justify-content: space-between; 
	align-items: start;
  }   

 h3
 {
padding: 35px;
flex-wrap: wrap;
 }

 .lick 
{
	display: flex;
	flex-direction: column;
	 justify-content: space-between; 
	align-items: start;
	/* background-color:white;  */
 } 


 .job{
	width: 100%;
	height: 80vh;
	justify-content: space-between;
	align-items: center;
	display: flex;
	padding: 80px;
 }